src/samples/holiday/RentACar.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="urn:ba.test.kandula.apache.org"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsba="http://schemas.xmlsoap.org/ws/2004/10/wsba"
	xmlns:wscoor="http://schemas.xmlsoap.org/ws/2004/10/wscoor"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="RentACarHolidayService"
	targetNamespace="urn:car.holiday.ba.demo.kandula.apache.org"
	xmlns:tns="urn:car.holiday.ba.demo.kandula.apache.org">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:car.holiday.ba.demo.kandula.apache.org">
			<xs:import
				namespace="http://schemas.xmlsoap.org/ws/2004/10/wsba"
				schemaLocation="../../schema/wsba.xsd" />
			<xs:import
				namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing"
				schemaLocation="../../schema/addr.xsd" />
			<xs:import
				namespace="http://schemas.xmlsoap.org/ws/2004/10/wscoor"
				schemaLocation="../../schema/wscoor.xsd" />

			<xsd:element name="rentACarOfferRequest" nillable="false">
				<xsd:complexType name="rentACarOfferRequestType">
					<xsd:sequence>
						<xsd:element ref="tns:carRequirements" />
						<xsd:element ref="tns:dateSpec" />
						<xsd:element ref="tns:locSpec" />
						<xsd:element name="renter"
							type="tns:carRentalPersonType" />
						<xsd:element name="driver"
							type="tns:carRentalPersonType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>


			<xsd:element name="rentACarOfferResponse"
				nillable="false">
				<xsd:complexType name="rentACarOfferResponseType">
					<xsd:sequence>
						<xsd:element name="metadata" type="xsd:string"
							nillable="true" />
						<xsd:element name="carOffer"
							type="tns:carOfferType" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="contextChoiceType">
				<xsd:choice>
					<xsd:element ref="wscoor:CoordinationContext" />
				</xsd:choice>
			</xsd:complexType>
			<xsd:element name="rentACarBookingRequest"
				nillable="false">
				<xsd:complexType name="rentACarBookingType">
					<xsd:sequence>
						<xsd:element name="transactionalContext"
							minOccurs="1" maxOccurs="1" type="tns:contextChoiceType" />
						<xsd:element
							ref="tns:carBookingReference" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="rentACarBookingResponse">
				<xsd:complexType name="rentACarDoBookingResponseType">
					<xsd:sequence>
						<xsd:element ref="tns:carBookingReference" />
						<xsd:element name="message" type="xsd:string" />
						<xsd:element name="compensateUntil"
							type="xsd:dateTime" />
						<xsd:element name="state" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>



			<xsd:element name="carBookingReference" type="xsd:string" />

			<xsd:complexType name="carOfferType">
				<xsd:sequence>
					<xsd:element ref="tns:carBookingReference" />
					<xsd:element name="offerExpires" type="xsd:dateTime"
						nillable="true" />

					<xsd:element name="carSpec" type="xsd:string" />
					<xsd:element ref="tns:dateSpec" />
					<xsd:element ref="tns:locSpec" />
					<xsd:element name="price" type="xsd:decimal" />
					<xsd:element name="payment" type="xsd:string"
						minOccurs="1" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="dateSpec">
				<xsd:complexType name="dateSpecType">
					<xsd:sequence>
						<xsd:element name="from" type="xsd:date" />
						<xsd:element name="to" type="xsd:date" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="locSpec">
				<xsd:complexType name="locSpecType">
					<xsd:sequence>
						<xsd:element name="from" type="xsd:string" />
						<xsd:element name="to" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="carRequirements">
				<xsd:complexType name="carRequirementsType">
					<xsd:sequence>
						<xsd:element name="carClass" type="xsd:string" />
						<xsd:element name="minPassengers"
							type="xsd:positiveInteger" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="carRentalPersonType">
				<xsd:element name="firstname" type="xsd:string" />
				<xsd:element name="middlename" type="xsd:string" />
				<xsd:element name="lastname" type="xsd:string" />
				<xsd:element name="birthdate" type="xsd:date" />
				<xsd:element name="lang" type="xsd:string" minOccurs="1"
					maxOccurs="unbounded" />
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="rentACarOfferRequest">
		<wsdl:part name="params" element="tns:rentACarOfferRequest" />
	</wsdl:message>
	<wsdl:message name="rentACarOfferResponse">
		<wsdl:part name="params" element="tns:rentACarOfferResponse" />
	</wsdl:message>

	<wsdl:message name="rentACarDoBookingRequest">
		<wsdl:part name="params" element="tns:rentACarBookingRequest" />
	</wsdl:message>
	<wsdl:message name="rentACarDoBookingResponse">
		<wsdl:part name="params" element="tns:rentACarBookingResponse" />
	</wsdl:message>

	<wsdl:portType name="RentACarPortType">
		<wsdl:operation name="getOffers">
			<wsdl:input message="tns:rentACarOfferRequest" />
			<wsdl:output message="tns:rentACarOfferResponse" />
		</wsdl:operation>
		<wsdl:operation name="doBooking">
			<wsdl:input message="tns:rentACarDoBookingRequest" />
			<wsdl:output message="tns:rentACarDoBookingResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RentACarPortTypeBinding"
		type="tns:RentACarPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getOffers">
			<soap:operation
				soapAction="urn:holiday.ba.demo.kandula.apache.org/rentACar/getOffers" />
			<wsdl:input>
				<soap:body
					namespace="urn:holiday.ba.demo.kandula.apache.org"
					parts="rentACarOfferRequest" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body
					namespace="urn:holiday.ba.demo.kandula.apache.org"
					parts="rentACarOfferResponse" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="doBooking">
			<soap:operation
				soapAction="urn:holiday.ba.demo.kandula.apache.org/rentACar/doBooking" />
			<wsdl:input>
				<soap:body
					namespace="urn:holiday.ba.demo.kandula.apache.org"
					parts="rentACarDoBookingRequest" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body
					namespace="urn:holiday.ba.demo.kandula.apache.org"
					parts="rentACarDoBookingResponse" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RentACarServiceS">
		<wsdl:port binding="tns:RentACarPortTypeBinding"
			name="RentACarServicePort">
			<soap:address
				location="http://localhost:8181/axis/services/RentACarService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
