test-resources/KandulaDemoService/KandulaDemoService.wsdl

<wsdl:definitions xmlns:axis2="http://integration.kandula.apache.org"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:ns0="http://integration.kandula.apache.org"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:ns1="http://org.apache.axis2/xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://integration.kandula.apache.org">
	<wsdl:documentation>Sample service for Testing</wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns:ns="http://integration.kandula.apache.org"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://integration.kandula.apache.org">
			<xs:element name="creditOperation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="element" nillable="true"
							type="xs:anyType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="creditOperationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true"
							type="xs:anyType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="debitOperation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="element" nillable="true"
							type="xs:anyType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="debitOperationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true"
							type="xs:anyType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="debitOperationMessage">
		<wsdl:part name="part1" element="ns0:debitOperation" />
	</wsdl:message>
	<wsdl:message name="debitOperationResponse">
		<wsdl:part name="part1" element="ns0:debitOperationResponse" />
	</wsdl:message>
	<wsdl:message name="creditOperationMessage">
		<wsdl:part name="part1" element="ns0:creditOperation" />
	</wsdl:message>
	<wsdl:message name="creditOperationResponse">
		<wsdl:part name="part1" element="ns0:creditOperationResponse" />
	</wsdl:message>
	<wsdl:portType name="KandulaDemoServicePortType">
		<wsdl:operation name="debitOperation">
			<wsdl:input
				xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				message="axis2:debitOperationMessage"
				wsaw:Action="urn:debitOperation" />
			<wsdl:output message="axis2:debitOperationResponse" />
		</wsdl:operation>
		<wsdl:operation name="creditOperation">
			<wsdl:input
				xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				message="axis2:creditOperationMessage"
				wsaw:Action="urn:creditOperation" />
			<wsdl:output message="axis2:creditOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="KandulaDemoServiceSOAP11Binding"
		type="axis2:KandulaDemoServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="debitOperation">
			<soap:operation soapAction="urn:debitOperation"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="creditOperation">
			<soap:operation soapAction="urn:creditOperation"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="KandulaDemoServiceSOAP12Binding"
		type="axis2:KandulaDemoServicePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="debitOperation">
			<soap12:operation soapAction="urn:debitOperation"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="creditOperation">
			<soap12:operation soapAction="urn:creditOperation"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="KandulaDemoService">
		<wsdl:port name="KandulaDemoServiceSOAP11port_http"
			binding="axis2:KandulaDemoServiceSOAP11Binding">
			<soap:address
				location="http://localhost:8081/axis2/services/KandulaDemoService" />
		</wsdl:port>
		<wsdl:port name="KandulaDemoServiceSOAP12port_http"
			binding="axis2:KandulaDemoServiceSOAP12Binding">
			<soap12:address
				location="http://localhost:8081/axis2/services/KandulaDemoService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
