src/samples/interopmsft/IAService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:test" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:impl" xmlns:intf="urn:test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->

   <wsdl:message name="testAsyncRollbackRequest">

   </wsdl:message>

   <wsdl:message name="testAsyncRollbackResponse">

   </wsdl:message>

   <wsdl:message name="testCommitRequest">

   </wsdl:message>

   <wsdl:message name="testCommitResponse">

   </wsdl:message>

   <wsdl:message name="testRollbackRequest">

   </wsdl:message>

   <wsdl:message name="testRollbackResponse">

   </wsdl:message>

   <wsdl:portType name="IAService">

      <wsdl:operation name="testCommit">

         <wsdl:input message="intf:testCommitRequest" name="testCommitRequest"/>

         <wsdl:output message="intf:testCommitResponse" name="testCommitResponse"/>

      </wsdl:operation>

      <wsdl:operation name="testRollback">

         <wsdl:input message="intf:testRollbackRequest" name="testRollbackRequest"/>

         <wsdl:output message="intf:testRollbackResponse" name="testRollbackResponse"/>

      </wsdl:operation>

      <wsdl:operation name="testAsyncRollback">

         <wsdl:input message="intf:testAsyncRollbackRequest" name="testAsyncRollbackRequest"/>

         <wsdl:output message="intf:testAsyncRollbackResponse" name="testAsyncRollbackResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IAServiceSoapBinding" type="intf:IAService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="testCommit">

         <wsdlsoap:operation soapAction="http://ws.apache.org/kandula/test"/>

         <wsdl:input name="testCommitRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testCommitResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="testRollback">

         <wsdlsoap:operation soapAction="http://ws.apache.org/kandula/test"/>

         <wsdl:input name="testRollbackRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testRollbackResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="testAsyncRollback">

         <wsdlsoap:operation soapAction="http://ws.apache.org/kandula/test"/>

         <wsdl:input name="testAsyncRollbackRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testAsyncRollbackResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="IAServiceService">

      <wsdl:port binding="intf:IAServiceSoapBinding" name="IAService">

         <wsdlsoap:address location="http://localhost:8081/axis/services/IAService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
