src/samples/interopmsft/TransactionalService-schema.xml

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="Commit"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="CommitResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="Rollback"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="RollbackResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="AsyncRollback"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="AsyncRollbackResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element></xs:schema>