src/samples/banking/BankOne.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:kandula/samples/bankone" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:kandula/samples/bankone" xmlns:intf="urn:kandula/samples/bankone" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->

   <wsdl:message name="getBalanceRequest">

      <wsdl:part name="in0" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="creditResponse">

      <wsdl:part name="creditReturn" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="debitResponse">

      <wsdl:part name="debitReturn" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="debitRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="creditRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="getBalanceResponse">

      <wsdl:part name="getBalanceReturn" type="xsd:double"/>

   </wsdl:message>

   <wsdl:portType name="BankOne">

      <wsdl:operation name="getBalance" parameterOrder="in0">

         <wsdl:input message="impl:getBalanceRequest" name="getBalanceRequest"/>

         <wsdl:output message="impl:getBalanceResponse" name="getBalanceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="debit" parameterOrder="in0 in1">

         <wsdl:input message="impl:debitRequest" name="debitRequest"/>

         <wsdl:output message="impl:debitResponse" name="debitResponse"/>

      </wsdl:operation>

      <wsdl:operation name="credit" parameterOrder="in0 in1">

         <wsdl:input message="impl:creditRequest" name="creditRequest"/>

         <wsdl:output message="impl:creditResponse" name="creditResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankOneSoapBinding" type="impl:BankOne">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBalance">

         <wsdlsoap:operation soapAction="http://ws.apache.org/kandula/samples/bankone#getBalance"/>

         <wsdl:input name="getBalanceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:kandula/samples/bankone" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getBalanceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:kandula/samples/bankone" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="debit">

         <wsdlsoap:operation soapAction="http://ws.apache.org/kandula/samples/bankone#debit"/>

         <wsdl:input name="debitRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:kandula/samples/bankone" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="debitResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:kandula/samples/bankone" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="credit">

         <wsdlsoap:operation soapAction="http://ws.apache.org/kandula/samples/bankone#credit"/>

         <wsdl:input name="creditRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:kandula/samples/bankone" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="creditResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:kandula/samples/bankone" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankOneService">

      <wsdl:port binding="impl:BankOneSoapBinding" name="BankOne">

         <wsdlsoap:address location="http://localhost:8081/axis/services/BankOne"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
