src/samples/interop/interop.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:test" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:test" xmlns:intf="urn:test" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2beta
Built on Jun 30, 2004 (07:14:17 GMT+06:00)-->

   <wsdl:message name="CommitResponse">

   </wsdl:message>

   <wsdl:message name="RollbackRequest">

   </wsdl:message>

   <wsdl:message name="CommitRequest">

   </wsdl:message>

   <wsdl:message name="RollbackResponse">

   </wsdl:message>

   <wsdl:portType name="InteropPortTypeRPC">

      <wsdl:operation name="commit">

         <wsdl:input message="impl:CommitRequest" name="CommitRequest"/>

         <wsdl:output message="impl:CommitResponse" name="CommitResponse"/>

      </wsdl:operation>

      <wsdl:operation name="rollback">

         <wsdl:input message="impl:RollbackRequest" name="RollbackRequest"/>

         <wsdl:output message="impl:RollbackResponse" name="RollbackResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InteropServiceSoapBinding" type="impl:InteropPortTypeRPC">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="commit">

         <wsdlsoap:operation soapAction="urn:test#Commit"/>

         <wsdl:input name="CommitRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:test" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="CommitResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="rollback">

         <wsdlsoap:operation soapAction="urn:test#Rollback"/>

         <wsdl:input name="RollbackRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:test" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="RollbackResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InteropPortTypeRPCService">

      <wsdl:port binding="impl:InteropServiceSoapBinding" name="InteropService">

         <wsdlsoap:address location="http://localhost:8081/axis/services/InteropService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
