src/schema/wscoor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- 
(c) 2001-2005 Arjuna Technologies Ltd., BEA Systems, International Business Machines Corporation, Hitachi Ltd., IONA Technologies, Microsoft Corporation, Inc. All rights reserved.
Permission to copy and display the "Web Services Coordination" Specification (the "Specification", which includes WSDL and schema documents), in any medium without fee or royalty is hereby granted, provided that you include the following on ALL copies of the "Web Services Coordination" Specification that you make:
1.  A link or URL to the "Web Services Coordination" Specification at one of the Authors' websites
2. The copyright notice as shown in the "Web Services Coordination" Specification.
Arjuna, BEA, Hitachi, IBM, IONA and Microsoft (collectively, the "Authors") each agree to grant you a license, under royalty-free and otherwise reasonable, non-discriminatory terms and conditions, to their respective essential patent claims that they deem necessary to implement the "Web Services Coordination" Specification.
THE "WEB SERVICES COORDINATION" SPECIFICATION IS PROVIDED "AS IS," AND THE AUTHORS MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE; THAT THE CONTENTS OF THE "WEB SERVICES COORDINATION" SPECIFICATION ARE SUITABLE FOR ANY PURPOSE; NOR THAT THE IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.
THE AUTHORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO ANY USE OR DISTRIBUTION OF THE "WEB SERVICES COORDINATION" SPECIFICATION.
The name and trademarks of the Authors may NOT be used in any manner, including advertising or publicity pertaining to the "Web Services Coordination" Specification or its contents without specific, written prior permission. Title to copyright in the "Web Services Coordination" Specification will at all times remain with the Authors.
No other rights are granted by implication, estoppel or otherwise.
-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wscoor="http://schemas.xmlsoap.org/ws/2004/10/wscoor" targetNamespace="http://schemas.xmlsoap.org/ws/2004/10/wscoor">
        <wsdl:types>
          <xs:schema>
            <xs:import
                namespace='http://schemas.xmlsoap.org/ws/2004/08/addressing'
                schemaLocation='addr.xsd' />
            <xs:import
                namespace='http://schemas.xmlsoap.org/ws/2004/10/wscoor'
                schemaLocation='wscoor.xsd' />
          </xs:schema>
        </wsdl:types> 
  <!-- Messages -->
  <wsdl:message name="CreateCoordinationContext">
    <wsdl:part name="parameters" element="wscoor:CreateCoordinationContext"/>
  </wsdl:message>
  <wsdl:message name="CreateCoordinationContextResponse">
    <wsdl:part name="parameters" element="wscoor:CreateCoordinationContextResponse"/>
  </wsdl:message>
  <wsdl:message name="Register">
    <wsdl:part name="parameters" element="wscoor:Register"/>
  </wsdl:message>
  <wsdl:message name="RegisterResponse">
    <wsdl:part name="parameters" element="wscoor:RegisterResponse"/>
  </wsdl:message>
  <!-- Manditory Asyncronous PortTypes -->
  <wsdl:portType name="ActivationCoordinatorPortType">
    <wsdl:operation name="CreateCoordinationContextOperation">
      <wsdl:input message="wscoor:CreateCoordinationContext"
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/CreateCoordinationContext"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ActivationRequesterPortType">
    <wsdl:operation name="CreateCoordinationContextResponseOperation">
      <wsdl:input message="wscoor:CreateCoordinationContextResponse"
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/CreateCoordinationContextResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RegistrationCoordinatorPortType">
    <wsdl:operation name="RegisterOperation">
      <wsdl:input message="wscoor:Register"
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/Register"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RegistrationRequesterPortType">
    <wsdl:operation name="RegisterResponseOperation">
      <wsdl:input message="wscoor:RegisterResponse"
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/RegisterResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- Optional Syncronous RPC Port Types -->
  <wsdl:portType name="ActivationPortTypeRPC">
    <wsdl:operation name="CreateCoordinationContextOperation">
      <wsdl:input message="wscoor:CreateCoordinationContext"
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/CreateCoordinationContext"/>
      <wsdl:output message="wscoor:CreateCoordinationContextResponse"
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/CreateCoordinationContextResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RegistrationPortTypeRPC">
    <wsdl:operation name="RegisterOperation">
      <wsdl:input message="wscoor:Register"
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/Register"/>
      <wsdl:output message="wscoor:RegisterResponse"
        wsa:Action="http://schemas.xmlsoap.org/ws/2004/10/wscoor/RegisterResponse"/>
    </wsdl:operation>
  </wsdl:portType>


<wsdl:binding name="ActivationPortTypeRPCBinding" type="wscoor:ActivationPortTypeRPC">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="CreateCoordinationContextOperation">
			<soap:operation soapAction="http://xxx"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
</wsdl:binding>

<wsdl:binding name="RegistrationPortTypeRPCBinding" type="wscoor:RegistrationPortTypeRPC">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="RegisterOperation">
			<soap:operation soapAction="http://xxx"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
</wsdl:binding>

<wsdl:service name="xxx">
		<wsdl:port binding="wscoor:ActivationPortTypeRPCBinding" name="ActivationRPC">
      			<soap:address location="http://localhost:8081/axis/services/ActivationRPC"/>
   		</wsdl:port>
		<wsdl:port binding="wscoor:RegistrationPortTypeRPCBinding" name="RegistrationRPC">
      			<soap:address location="http://localhost:8081/axis/services/RegistrationRPC"/>
   		</wsdl:port>
</wsdl:service>

</wsdl:definitions>

